.ui.header.oldPage,
.ui.header.oldPage .sub.header {
  color: grey;
}

.ui.header span.tags {
  position: absolute;
  right: 10px;
}

.ui.icon.menu .item.topMenu {
  width: 338px;
}

.menuSubHeader {
  width: 180px;
}

div.qrcode canvas {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 480px) {
  .ui.icon.menu .item.topMenu {
    width: 294px;
  }
}
